<!DOCTYPE html>
<html>
<head>
    <title>paytool</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20761074-6']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/lib/tsort/tsort.js"></script>
    <script src="/static/js/common.js"></script>
    {% if user %}
    <script src="/static/js/home.js"></script>
    {% endif %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">paytool</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class='active'><a href="/">My Sheets</a></li>
                    <li><a href="https://github.com/yuzawa-san/paytool/blob/master/README.md">About</a></li>
                    <li><a href="https://github.com/yuzawa-san/paytool">Source</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li>
                        <a href="{{ auth_url }}">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-xs">Logout</button>
                              <button type="button" class="btn btn-default btn-xs">{{user.email}}</button>
                            </div>
                        </a>
                    </li>
                    {% else %}
                    <li><a href="{{ auth_url }}"><span class='btn btn-primary btn-xs'>Login with Google</span></a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>


    <div class="container">
        
        {% if user %}
        
        <h3><img src="http://www.gravatar.com/avatar/{{gravatar}}?d=mm&s=48"> My Sheets</h3>
        
        <table id="sheets" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sharing</th>
                    <th><button class="btn btn-primary" id="new">New Sheet</button></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
        {% else %}
        <center>
            <h3>Welcome to paytool!</h3>
        
            <p><a href='{{ auth_url }}'><button class='btn btn-success btn-lg'>Login</button></a></p>
        
            <p>Login with your Google account to create and share payment sheets like the one below:</p>
        
            <img src="/static/img/demo.jpg" class="img-thumbnail">
        </center>
        
        {% endif %}
        
        <footer>
            <hr>
            <p>a tool by <a href="https://github.com/yuzawa-san">yuzawa-san</a></p>
        </footer>
    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editor-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editor-name">Name</label>
                        <input type="text" class="form-control" id="editor-name">
                    </div>
                    <div class="form-group">
                        <label for="editor-private">Sharing</label>
                        <select class="form-control" id="editor-private">
                          <option value="1">Private - Only you can see it</option>
                          <option value="0">Link - Others with link can also see it</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editor-private">Accept Payment Requests</label>
                        <select class="form-control" id="editor-requests">
                          <option value="1">Yes</option>
                          <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editor-save">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>