<!DOCTYPE html>
<html>
<head>
    <title>paytool</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript">

    var sheet_id = "{{sheet.key.urlsafe}}";

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20761074-6']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/lib/tsort/tsort.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">paytool</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">My Sheets</a></li>
                    <li><a href="https://github.com/yuzawa-san/paytool/blob/master/README.md">About</a></li>
                    <li><a href="https://github.com/yuzawa-san/paytool">Source</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li>
                        <a href="{{ auth_url }}">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-xs">Logout</button>
                              <button type="button" class="btn btn-default btn-xs">{{user.email}}</button>
                            </div>
                        </a>
                    </li>
                    {% else %}
                    <li><a href="{{ auth_url }}"><span class='btn btn-primary btn-xs'>Login with Google</span></a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>


    <div class="container">
        <datalist id="entities">
        </datalist>
        <h3 id="sheet-info">{{ sheet.name }}
            <small>
                <strong>Sharing:</strong>
                <span id="linker" data-toggle="modal" data-target="#link">
                {% if sheet.private %}
                    <span class="glyphicon glyphicon-user"></span> Private,
                {%else%}
                    <span class="glyphicon glyphicon-link"></span> With Link,
                {% endif %}
                {% if sheet.acceptsRequests %}accepting payment requests{% endif %}</span>
                <button class='btn btn-info btn-sm' data-toggle="modal" data-target="#editor"><span class="glyphicon glyphicon-pencil"></span> Settings</button>
                <button class='btn btn-info btn-sm' data-toggle="modal" data-target="#inbox" id="inboxBtn"><span class="glyphicon glyphicon-inbox"></span> Inbox<span id="inbox-qty"></span></button>
            </small>
        </h3>
        <h4>Raw Payments</h4>
        <table id="transactions" class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th><button id="purge" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Remove All</button></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th><input class="form-control input-sm" id="new-from" placeholder="from" list="entities" required/></th>
                    <th><input class="form-control input-sm" id="new-to" placeholder="to" list="entities" required/></th>
                    <th><input class="form-control input-sm new-transaction-enter" id="new-value" placeholder="value" value="0" type="number" required/></th> 
                    <th><input class="form-control input-sm new-transaction-enter" id="new-description" placeholder="description" /></th>
                    <th><button class="btn btn-primary btn-sm" id="new"><span class="glyphicon glyphicon-plus"></span> Add</button></th>
                </tr>
            </tfoot>
        </table>
        <div id="print">
            <a href="/sheet/{{ sheet.key.urlsafe }}/print" target="blank">
                <button class="btn btn-normal"><span class="glyphicon glyphicon-print"></span> Print</button>
            </a>
        </div>
        <h4>Optimized Payments</h4>
        <small>
            <div class="row">
                <div class="col-md-6">
                    <table id="out" class="table table-striped">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th style='text-align:right;'>Amount</th> 
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table id="flow" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Person</th>
                                <th style='text-align:right;'>Action</th>
                                <th style='text-align:right;'>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </small>
        <footer>
            <hr>
            <p>a tool by <a href="https://github.com/yuzawa-san">yuzawa-san</a></p>
        </footer>
    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="sheetSettings" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editor-title">Edit Sheet Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editor-name">Name</label>
                        <input type="text" class="form-control" id="editor-name" value="{{ sheet.name }}">
                    </div>
                    <div class="form-group">
                        <label for="editor-private">Sharing</label>
                        <select class="form-control" id="editor-private">
                          <option value="1">Private - Only you can see it</option>
                          <option value="0"{% if not sheet.private%} selected{%endif%}>Link - Others with link can also see it</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editor-private">Accept Payment Requests</label>
                        <select class="form-control" id="editor-requests">
                          <option value="1">Yes</option>
                          <option value="0"{% if not sheet.acceptsRequests%} selected{%endif%}>No</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editor-save">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="sheetLink" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% if not sheet.private %}
                    <div class="form-group">
                        <label for="editor-name">Viewing URL:</label>
                        <input type="text" class="form-control copy-url" id="link-url">
                    </div>
                    This URL can be given out to people so that they can view this sheet.
                    Warning: Those who you give this to can give this to others.
                    In the event that the URL gets into the wrong hands, set the sheet back to private.
                    {% else %}
                    A viewing URL can be made if 'view with link' is chosen in the sheet settings.
                    {% endif %}
                    {% if sheet.acceptsRequests %}
                    <div class="form-group">
                        <label for="editor-name">Submission URL:</label>
                        <input type="text" class="form-control copy-url" id="submit-url">
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="inbox" tabindex="-1" role="dialog" aria-labelledby="sheetInbox" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <small>
                    <table id="requestList" class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="request-selector" checked></th>
                                <th>Submitter</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Amount</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="request-remove">Remove Selected</button>
                    <button type="button" class="btn btn-success" id="request-migrate">Add Selected</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>