<!DOCTYPE html>
<html>
<head>
    <title>paytool</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript">

    var sheet_id = "{{sheet.key.urlsafe}}";

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20761074-6']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/lib/tsort/tsort.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">paytool</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">My Sheets</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://github.com/yuzawa-san/paytool">Source</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li>
                        <a href="{{ auth_url }}">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-xs">Logout</button>
                              <button type="button" class="btn btn-default btn-xs">{{user.email}}</button>
                            </div>
                        </a>
                    </li>
                    {% else %}
                    <li><a href="{{ auth_url }}"><span class='btn btn-primary btn-xs'>Login with Google</span></a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>


    <div class="container">
        <datalist id="entities">
        </datalist>
        <h2 id="sheet-info">{{ sheet.name }}
            <small>{% if sheet.private %}
            <span class="glyphicon glyphicon-user"></span>
            {%else%}
            <span class="glyphicon glyphicon-link"></span>
            {% endif %} {{ sheet.owner.nickname }}
            <button class='btn btn-info btn-xs'  data-toggle="modal" data-target="#editor"><span class="glyphicon glyphicon-pencil"></span> Settings</button>
            </small>
        </h2>
        <h3>Raw Payments</h3>
        <table id="transactions" class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th><button id="purge" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Remove All</button></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th><input class="form-control input-sm" id="new-from" placeholder="from" list="entities" required/></th>
                    <th><input class="form-control input-sm" id="new-to" placeholder="to" list="entities" required/></th>
                    <th><input class="form-control input-sm new-transaction-enter" id="new-value" placeholder="value" value="0" type="number" required/></th> 
                    <th><input class="form-control input-sm new-transaction-enter" id="new-description" placeholder="description" /></th>
                    <th><button class="btn btn-primary btn-sm" id="new"><span class="glyphicon glyphicon-plus"></span> Add</button></th>
                </tr>
            </tfoot>
        </table>
        <div id="print"><a href="/sheet/{{ sheet.key.urlsafe }}/print" target="blank">
            <button class="btn btn-normal"><span class="glyphicon glyphicon-print"></span> Print</button>
        </a></div>
        <h3>Optimized Payments</h3>
        <small>
        <div class="row">
            <div class="col-md-6">
                <table id="out" class="table table-striped">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th style='text-align:right;'>Amount</th> 
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table id="flow" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Person</th>
                            <th style='text-align:right;'>Action</th>
                            <th style='text-align:right;'>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        </small>
        <footer>
            <hr>
            <p>a tool by <a href="https://github.com/yuzawa-san">yuzawa-san</a></p>
        </footer>
    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editor-title">Edit Sheet Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editor-name">Name</label>
                        <input type="text" class="form-control" id="editor-name" value="{{ sheet.name }}">
                    </div>
                    <div class="form-group">
                        <label for="editor-private">Sharing</label>
                        <select class="form-control" id="editor-private">
                          <option value="1">Private - Only you can see it</option>
                          <option value="0"{% if not sheet.private%} selected{%endif%}>Link - Others with link can also see it</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editor-save">Save</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>