<!DOCTYPE html>
<html>
<head>
    <title>paytool</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript">

    var sheet_id = "{{sheet.key.urlsafe}}";

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20761074-6']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/lib/tsort/tsort.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/submit.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">paytool</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">My Sheets</a></li>
                    <li><a href="https://github.com/yuzawa-san/paytool/blob/master/README.md">About</a></li>
                    <li><a href="https://github.com/yuzawa-san/paytool">Source</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li>
                        <a href="{{ auth_url }}">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-xs">Logout</button>
                              <button type="button" class="btn btn-default btn-xs">{{user.email}}</button>
                            </div>
                        </a>
                    </li>
                    {% else %}
                    <li><a href="{{ auth_url }}"><span class='btn btn-primary btn-xs'>Login with Google</span></a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>


    <div class="container">
        <h3 id="sheet-info">{{ sheet.name }} 
            <small>
                <img src="http://www.gravatar.com/avatar/{{gravatar}}?d=mm&s=36"> {{ sheet.owner.nickname }}
            </small>
        </h3>
        
        {% if not sheet.private %}
        <p><a href="/sheet/{{ sheet.key.urlsafe }}">view sheet</a></p>
        {% endif %}
        
        <h4>Submit Request for Payment <span id="done" style="display:none;">Request Submitted</span></h4>
        
        <form class="form-inline" role="form" id="request-form">
            <div class="form-group">
                <label class="sr-only" for="from">From</label>
                <input type="text" class="form-control" id="from" placeholder="from">
            </div>
            <div class="form-group">
                <label class="sr-only" for="to">To</label>
                <input type="text" class="form-control" id="to" placeholder="to">
            </div>
            <div class="form-group">
                <label class="sr-only" for="value">Value</label>
                <input type="number" class="form-control" id="value" step="any" value=0 placeholder="value">
            </div>
            <div class="form-group">
                <label class="sr-only" for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        <h4>Your Requests</h4>
        
        <table id="requestList" class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
        <footer>
            <hr>
            <p>a tool by <a href="https://github.com/yuzawa-san">yuzawa-san</a></p>
        </footer>
    </div> <!-- /container -->


    
    <div class="modal fade" id="requestEditor" tabindex="-1" role="dialog" aria-labelledby="requestEditor" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editor-title">Edit Payment Request</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editor-from">From</label>
                        <input type="text" class="form-control" id="editor-from">
                    </div>
                    <div class="form-group">
                        <label for="editor-to">To</label>
                        <input type="text" class="form-control" id="editor-to">
                    </div>
                    <div class="form-group">
                        <label for="editor-value">Value</label>
                        <input type="number" class="form-control" id="editor-value">
                    </div>
                    <div class="form-group">
                        <label for="editor-description">Description</label>
                        <input type="text" class="form-control" id="editor-description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editor-save">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>