body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    color: #222;
    font: 14px Arial;
}

body a {
    color: #3D5C9D;
    text-decoration: none;
}

#print {
    float:right;
}

.action-pos {
    color:#060;
}

.action-neg {
    color:#600;
}